:root {
  /* FONTS */
  --heading-font: "Cinzel", serif;
  --body-font: "Montserrat", sans-serif;

  /* COLORS */
  --main-bcg: #0f1115;
  --cards-bcg: #151821;
  --panels: #1c1f2a;

  --accent-primary: #d4af37;
  --accent-borders: #b8962e;
  --accent-glow: #e6c75a;
}
/* ==== MAIN ==== */
body {
  background-color: var(--main-bcg);
  font-family: var(--body-font);
  color: white;
  font-size: 1.8rem;
}
main {
  width: 60%;
  margin: 0 auto;
}
/* RE-USE CLASSES */
.heading {
  font-size: 2.4rem;
  font-family: var(--heading-font);
  color: var(--accent-primary);
  font-weight: 500;
}
.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
}
.see-all-btn {
  display: flex;
  gap: 0.8rem;
}
.see-all-btn:hover {
  color: var(--accent-primary);
}
.items-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3.2rem;
  margin-top: 2.4rem;
}
/* ==== HEADER ==== */
header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 2.4rem;
}
.right-elements {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
/* LOGO */
header h1 {
  font-size: 3.6rem;
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--accent-primary);
}
/* NAV */
ul {
  display: flex;
  gap: 1.6rem;
}
li:hover,
#login-btn:hover {
  color: var(--accent-primary);
}
/* ==== MAIN SECTION ==== */
#main-section {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
/* QUOTE SECTION */
#quote {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: var(--cards-bcg);
  padding: 5.6rem;
  border-radius: 0.8rem;
}
.quote-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 2.4rem;
}
#quote-text {
  font-style: italic;
}
#quote-author {
  color: var(--accent-primary);
  font-size: 1.8rem;
  text-align: right;
}
/* GAME SECTION */
.game {
  width: 25rem;
  height: 15rem;
  background: linear-gradient(45deg, #e66465, #9198e5);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  text-align: center;
}
.game p {
  font-size: 1.6rem;
}
.game:hover {
  background: linear-gradient(45deg, #9198e5, #e66465);
  box-shadow: 0 0 20px var(--accent-primary);
}
/* CLASS FUNCTIONS */
.hidden {
  display: none;
}

/* MATCH STYLES */
/* SETTINGS */
.settings-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.setting-heading {
  font-size: 1.6rem;
}
/* BUTTONS */
button {
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  background: var(--cards-bcg);
  margin-top: 1.6rem;
  color: white;
  border: 1px solid white;
}
button:hover {
  cursor: pointer;
  background: var(--panels);
}

/* HANDICAP */
.handi-options {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 1.6rem;
}
.select-handi {
  display: flex;
  gap: 1.6rem;
}
/* START GAME BUTTON */
#start-game-btn {
  background: #197c00;
}
#start-game-btn:hover {
  background: #239700;
}
/* Inputs for names */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 1.6rem;
}
.input-container input {
  font-size: 1.6rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: none;
  background: white;
}
.player-name-input {
  display: flex;
  gap: 1.6rem;
}
#game .section-heading {
  text-align: center;
  font-size: 3.2rem;
}
/* Player cards */
.game-container {
  display: flex;
  gap: 1.6rem;
}
#players-container,
#current-player {
  flex: 1;
  width: 50%;
  margin-top: 1.6rem;
}
#players-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.player-card {
  background: var(--cards-bcg);
  border-radius: 1.6rem;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
}
#current-player {
  background: var(--accent-primary);
  border-radius: 1.6rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
#current-player h3 {
  font-size: 2.4rem;
  font-family: var(--heading-font);
  font-weight: 700;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.info #current-player-name {
  font-size: 3.2rem;
}
.info .score {
  font-size: 6.4rem;
}
.stats {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 3.2rem;
  text-align: left;
}
#current-player .score-legs {
  display: flex;
  gap: 0.8rem;
}
.avg,
.last-score,
.darts-thrown {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}
.score-legs {
  display: flex;
  gap: 1.6rem;
}
/* KEYPAD */
.keypad {
  margin-top: 3.2rem;
  text-align: center;
}
#score-input {
  font-size: 2.4rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  background: white;
  color: black;
  width: 60%;
}
.keypad-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.6rem;
}
.keypad-buttons button {
  font-size: 2.4rem;
  padding: 1.6rem 0;
  margin-top: 0;
}
.input-submit button {
  background: green;
  font-size: 2.4rem;
}
.input-submit button:hover {
  background: #197c00;
}

#new-game-btn {
  background: #ff1f1f;
  width: 100%;
  margin-top: 3.2rem;
}
#new-game-btn:hover {
  background: #fe6363;
}
/* DISPLAY MESSAGE */
.display-message {
  text-align: center;
  border-radius: 0.8rem;
}
/* WINNING DISPLAY */
#all-player-stats {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
}
.player-div {
  background: var(--cards-bcg);
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
}
.player-div h3 {
  font-size: 3.2rem;
  text-align: center;
}
#play-again {
  background: #197c00;
  width: 100%;
  padding: 1.6rem;
  font-size: 2.4rem;
}
#play-again:hover {
  background: #239700;
}
/* PROMT */
.double-promt,
.new-game-promt {
  text-align: center;
}
.buttons,
#confirm-buttons {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}
.buttons button {
  font-size: 2.4rem;
}
#yes-button,
#no-quit-button {
  background: #197c00;
}
#yes-button:hover,
#no-quit-button:hover {
  background: #239700;
}
#no-button,
#quit-button {
  background-color: #b10000;
}
#no-button:hover,
#quit-button:hover {
  background-color: #d80101;
}

/* HIDDEN */
.hidden {
  display: none;
}
/* ACTIVE */
.active {
  background: #197c00;
}
/* PLAYER TURN */
.player-turn {
  background: var(--accent-primary);
  color: black;
}
/* ERROR */
.error {
  background: red;
  padding: 1.6rem;
}
/* SUCCESS */
.success {
  background: green;
  padding: 1.6rem;
}
