:root {
  /* FONTS */
  --heading-font: "Cinzel", serif;
  --body-font: "Montserrat", sans-serif;

  /* COLORS */
  --main-bcg: #0f1115;
  --cards-bcg: #151821;
  --panels: #1c1f2a;

  --accent-primary: #d4af37;
  --accent-borders: #b8962e;
  --accent-glow: #e6c75a;
}
/* ==== MAIN ==== */
body {
  background-color: var(--main-bcg);
  font-family: var(--body-font);
  color: white;
  font-size: 1.8rem;
  width: 60%;
  margin: 0 auto;
  padding: 2.4rem 0;
}
/* RE-USE CLASSES */
.heading {
  font-size: 2.4rem;
  font-family: var(--heading-font);
  color: var(--accent-primary);
  font-weight: 500;
}
.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
}
.see-all-btn {
  display: flex;
  gap: 0.8rem;
}
.see-all-btn:hover {
  color: var(--accent-primary);
}
.items-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3.2rem;
  margin-top: 2.4rem;
}
/* ==== HEADER ==== */
header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.right-elements {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
/* LOGO */
header h1 {
  font-size: 3.6rem;
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--accent-primary);
}
/* NAV */
ul {
  display: flex;
  gap: 1.6rem;
}
li:hover,
#login-btn:hover {
  color: var(--accent-primary);
}
/* ==== MAIN SECTION ==== */
#main-section {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
/* QUOTE SECTION */
#quote {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: var(--cards-bcg);
  padding: 5.6rem;
  border-radius: 0.8rem;
}
.quote-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 2.4rem;
}
#quote-text {
  font-style: italic;
}
#quote-author {
  color: var(--accent-primary);
  font-size: 1.8rem;
  text-align: right;
}
/* GAME SECTION */
.game {
  width: 25rem;
  height: 15rem;
  background: linear-gradient(45deg, #e66465, #9198e5);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  text-align: center;
}
.game p {
  font-size: 1.6rem;
}
.game:hover {
  background: linear-gradient(45deg, #9198e5, #e66465);
  box-shadow: 0 0 20px var(--accent-primary);
}
.hidden {
  display: none;
}
